* { box-sizing: border-box; font-family: sans-serif}
html { overflow-x: hidden; }

/*  GRID - - - --- - - - GRID - - - --- - - - GRID - - - --- - - - GRID  */
body {
    max-width: 100%;
    height: auto;

    margin: 0;
    padding: 3.2% 2.25%;

    background-color: white;
    color: black;
}
.grid {
    top: 0;
    left: 0;

    display: grid;
    grid-column-gap: 1.25%;
    grid-row-gap: 0.75%;
    grid-auto-flow: dense;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    width: 100%;
    height: 100vh;
}

/*  ITEMS - - - --- - - - ITEMS - - - --- - - - ITEMS - - - --- - - - ITEMS  */
.item    { border: 0.2em solid black; border-radius: 10px ; background-color: transparent}

#first-widget   {
    grid-area: span 4 / span 7;
    display: flex;

    background-image: linear-gradient(to right, mediumblue, blue);
    color: ghostwhite;

    border-radius: 14px;

    width: 100%;
    height: 100%;
}

#second-widget  {
    grid-area: span 2 / span 5;
    display: flex;

    background-image: linear-gradient(to right, deepskyblue, mediumturquoise);

    border-radius: 14px;

    width: 100%;
    height: 100%;
}

#third-widget   {
    grid-area: span 2 / span 5;
    display: flex;

    background-image: linear-gradient(to left, deepskyblue, mediumturquoise);

    border-radius: 14px;

    width: 100%;
    height: 100%;
}

#fourth-widget  {
    grid-area: span 3 / span 12;
    display: flex;

    background-image: linear-gradient(to left, orange, orangered);

    border-radius: 14px;

    width: 100%;
    height: 100%;
}

#fifth-widget   {
    grid-area: span 3 / span 5;
    display: flex;

    background-image: linear-gradient(to bottom, rebeccapurple, mediumpurple);

    border-radius: 14px;

    width: 100%;
    height: 100%;
}

#sixth-widget   {
    grid-area: span 3 / span 7;
    display: flex;

    background-image: linear-gradient(to top, rebeccapurple, mediumpurple);

    border-radius: 14px;

    width: 100%;
    height: 100%;
}

#seventh-widget {
    grid-area: span 3 / span 12;
    display: flex;

    background-image: linear-gradient(to top, deeppink, hotpink);

    border-radius: 14px;

    width: 100%;
    height: 100%;
}

/*  MEDIA Qs - - - --- - - - MEDIA Qs - - - --- - - - MEDIA Qs - - - --- - - - MEDIA Qs  */
@media (max-width: 575px) {                             /* XS Devices (Phones) */

}

@media (min-width: 576px) and (max-width: 767px) {      /* S Devices (Phones, Some Tablets) */

}

@media (min-width: 768px) and (max-width: 991px) {      /* M Devices (Tablets, Some Laptops) */

}

@media (min-width: 992px) and (max-width: 1199px) {     /* L Devices (Desktops, Laptops) */

}

@media (min-width: 1200px) {                            /* XL Devices (Large Desktops) */

}